.page {
  background-image: url('/images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-gap);
  font-size: var(--main-text-size);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header__rec {
  position: absolute;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap)
}

.header__theme-menu-button {
  position: relative;
  display: block;
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--nav-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus:after {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(255 0 112 / 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__logo {
  justify-self: start;
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  font-weight: bold;
  line-height: var(--main-line-height);
}

.title-decor {
  color: var(--main-heading-color);
  background-color: var(--accent-color);
}

.content {
  padding: calc(4 * var(--main-gap)) var(--main-gap);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:hover {
  border-block-end: 1px solid var(--main-text-color);
}

.content__link:focus {
  border-block-end: none;
  outline: 1px solid var(--main-text-color);
}

.content-section:not(:last-of-type) {
  margin-block-end: calc(5 * var(--main-gap));
}

.content-section__title {
  margin-block-end: calc(2 * var(--main-gap));
  color: var(--section-heading-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.text-block {
  margin-block-start: calc(2 * var(--main-gap));
}

.text-block__heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.text-block__main-content {
  color: var(--main-text-color)
}

.text-block__subheading {
  margin-block-start: calc(2 * var(--main-gap));
  font-weight: normal;
}

.text-block__paragraph {
  margin-block-start: var(--main-gap);
  line-height: var(--main-line-height);
}

.section-how__title,
.text-block__subheading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.grid-heading {
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.grid {
  display: grid;
  gap: var(--main-gap);
}

.grid__image {
  inline-size: 100%;
}

.footer {
  position: relative;
  padding: var(--main-gap);
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  color: var(--footer-logo-color);
  font-size: var(--footer-logo-size);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header__logo {
    position: relative;
    inset-inline-start: calc(-1 * var(--main-gap));
  }

  .header__text {
    inline-size: 50%;
  }

  .content {
    padding: calc(3 * var(--main-gap)) var(--main-gap)
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--main-gap);
  }

  .content-section:not(:last-of-type) {
    margin-block-end: calc(4 * var(--main-gap));
  }

  .content-section__title {
    margin-block-end: 0;
  }

  .text-block {
    margin-block-start: var(--main-gap);
  }

  .text-blocks .text-block:first-of-type {
    margin-block-start: 0;
  }

  .text-block__paragraph {
    margin-block-start: calc(var(--main-gap) / 2);
  }

  .text-block__subheading {
    margin-block-start: var(--main-gap);
  }

  .what .content-section__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .what .text-blocks {
    grid-column: 1/-1;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-heading {
    grid-column: 1/-1;
  }

  .grid__image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .grid__image:first-of-type {
    grid-column: span 2;
  }

  .grid__image:nth-of-type(2) {
    grid-row: span 2;
  }

  .grid__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .grid__image:last-of-type {
    grid-column: span 2;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 640px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .why .text-blocks {
    grid-column: 2 / -1;
  }

  .what .text-blocks {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--main-gap);
  }

  .what .text-blocks .text-block {
    margin-block-start: 0;
  }

  .how .text-blocks {
    grid-column: 2 / -1;
  }
}